.site-header {
  background-color: #cccccc;
  border-bottom: 1px solid #999999;
}

#main-header {
  border-bottom: 1px solid #999999;
}

.site-button {
  font-weight: bold;
}

hr {
  border-bottom: 1px solid #999999;
}

/*#main-content h2.text-delta[.="Table of contents"] {
  display: none;
}
*/
